@font-face
    font-family: 'Bebas';
    font-weight: normal;
    font-style: normal;
    src: url(/layout/fonts/BebasNeueRegular.otf);
    src: url(/layout/fonts/BebasNeueRegular.otf) format('opentype');

@font-face
    font-family: 'Bebas';
    font-weight: bold;
    font-style: normal;
    src: url(/layout/fonts/BebasNeueBold.otf);
    src: url(/layout/fonts/BebasNeueBold.otf) format('opentype');

@font-face
    font-family: 'PFDinDisplayPro';
    font-weight: normal;
    font-style: normal;
    src: url('/layout/fonts/PFDinDisplayPro-Bold.eot');
    src: url('/layout/fonts/PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'), url('/layout/fonts/PFDinDisplayPro-Bold.woff2') format('woff2'), url('/layout/fonts/PFDinDisplayPro-Bold.woff') format('woff'), url('/layout/fonts/PFDinDisplayPro-Bold.ttf') format('truetype');
