root = true

[*.styl]
indent_size = 4
indent_style = space

[*.js]
indent_size = 4
indent_style = space
insert_final_newline = true

[*.jade]
indent_size = 4
indent_style = space

[*.yml]
indent_size = 4
indent_style = space
