.footer
    background-color white
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding: 10px 0 35px
    margin-top 40px
    &__menu
        width: 100%
        background green
        height: 75px
        margin-bottom 30px
        display flex
        justify-content: center
        align-items: center
        padding-top 2px
        a
            color white
            text-decoration: none
            font-size 20px
            margin: 0 10px
            transition: .3s color
            &:hover
                color orange
    &__logo
        img
            width: 275px
