- var email = user ? user.email : ''
doctype html
html
    head
        title
        meta(name='description', content='#{description}')
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

        link(href='/layout/css/components.css' rel="stylesheet")
    body
        #app
        script.
            var texts = Object.freeze(!{JSON.stringify(texts)})
        script(src='/layout/js/admin.js' defer async)
