.button
    display inline-flex
    height: 90px
    padding: 11px 60px 0
    background-color orange
    font-size 50px
    color white
    justify-content: center
    align-items: center
    margin-bottom 30px
    transition: .3s box-shadow, .3s transform
    box-shadow: 5px 5px 0 0 alpha(black, .6)
    cursor: pointer
    text-decoration none
    &:hover
        transform: translate3d(-3px, -3px, 0)
        box-shadow: 8px 8px 0 0 alpha(black, .6)
