.countdown
    display: inline-flex
    line-height 1
    &__item
        margin-left 4px
        text-align center
        position relative
    &__text
        color green
        font-family 'Helvetica Neue', 'Arial'
        font-size 7px
        text-transform uppercase
        letter-spacing: 2px
        font-weight 400
        padding-top 5px
        position absolute
        top 100%
        left 0
        width: 100%
    &__value
        min-width: 45px
        height: 45px
        padding: 7px 5px 0
        display block
        background-color green
        color white
        font-size 39px
        font-weight bold
    &__title
        text-transform uppercase
        text-align left
        color green
        height: 45px
        line-height 1.1
        padding-top 1px
        margin-right: 10px
        font-size 23px
