.index
    padding-bottom 30px
    &__steps
        justify-content: center
        display: flex
        align-items: center
        width: 100%
        img
            position relative
            top -15px
    &__button
        margin: 0 40px
    &__list
        margin-bottom 60px
        margin-top -30px

.list
    display: flex
    width: 100%
    justify-content: space-between
    &__item
        display: flex
        align-items: center
    &__text
        font-size 33px
        line-height 1
        font-family: 'PFDinDisplayPro'
    &__icon
        color orange
        size 70px
        border-radius: 50%
        font-size 50px
        text-align center
        font-weight bold
        background-color white
        line-height 78px
        margin-right 15px
